.card__info {
  position: relative;
  background-color: $darkgreytwo;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
  border: solid 1px transparent;

  &:hover {
    border: solid 1px $yellow;
  }

  &-image {
    padding: 0px;
    width: 30%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 0px;
  }

  .card__info-data {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    color: $white;
  }

  .card__info-name {
    width: 70%;
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 15px;
  }

  .card__info-price {
    color: $yellow;
    font-size: 2rem;
    font-weight: 700;

    .price__currency {
        font-size: 1.5rem;
        font-weight: 400;
    }
  }

  .edit__icon {
    right: 8%;
  }

  .trash__icon {
    right: 3%;
  }
}
