/* Font */
$mainfont: 'Lato', sans-serif;

/* Fonts weight */
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

/* Colores */
$yellow: #FFD600;
$white: white;
$lightgrey: #e1e1e1;
$lightgreytwo: #797979;
$darkgrey: #404040;
$darkgreytwo: #292929;

/* Media Queries */
$tablet: 380px;
$desktop: 900px;
